# Ignore specific files and directories

## General Files ##
HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar

# Exclude all build folders, but include the build folders under src/main/ and src/test/
!**/src/main/**/build/
!**/src/test/**/build/

### STS (Spring Tool Suite) ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
.idea/
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

## macOS ##
**/.DS_Store

## Maven/Gradle build directories ##
**/target/

# Other specific build folders (uncommon) can be added here
# Example: **/.gradle/
